<div id="header-unit"></div>
<kohan-navbar></kohan-navbar>

<div class="header-unit">
  <!-- <div class="color-overlay"></div> -->
  <div id="video-container">
    <video autoplay loop muted playsinline class="fillWidth">
      <source src="https://firebasestorage.googleapis.com/v0/b/kohan-creative.appspot.com/o/Drone%20-%209732.mp4?alt=media&token=b70707ca-b1cd-4c3e-bf96-c97e27c12b88"
        type="video/mp4" />
    </video>
  </div>
  <!-- end video-container -->

  <div class="desc-wrapper-container">

    <!-- Work With Us Modal -->
    <ngx-smart-modal #myModal identifier="myModal">
      <kohan-work-with-us></kohan-work-with-us>
    </ngx-smart-modal>

    <!-- Contact Us Modal -->
    <ngx-smart-modal #contactUsModal identifier="contactUsModal">
      <kohan-contact-us></kohan-contact-us>
    </ngx-smart-modal>

    <div class="desc-wrapper">
      <h1 class="kohan-header-tagline">Social Media Marketing</h1>
      <p class="desc-smaller-text">Drive Value Through Engagement</p>
      <div class="kohan-header-button" (click)="openWorkWithUsModal()">Get Started Now</div>
    </div>
    <div class="scroll-down-container container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
          <div class="kohan-header-more-link" (click)="scrollToPageSection('create-cultivate')">More</div>
          <div class="scroll-down-animation" (click)="scrollToPageSection('create-cultivate')">
            <fa name="chevron-down" class="scroll-down-animation" style="color: #FFFFFF;"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end .header-unit -->

<div class="container">
  <!-- <div class="row spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="kohan-secondary-statement">
        We help you enhance your carefully constructed patient relationships in a way that extends beyond your office walls.
      </h2>
    </div>
  </div> -->
  <div class="row services-spacing-section" id="create-cultivate">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center">
      <img src="../assets/img/periodontics_instagram.png" class="img-fluid services-image-margins">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Create & Cultivate</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Whether you're starting completely from scratch or are looking for an added boost, we create, maintain, and grow your most
            vital social media acounts, allowing you to focus on what you do best.
          </p>
          <h3 class="learn-more-title text-align-center">
            <!-- <div class="contact-link text-align-center" (click)="openContactUsModal()">Learn More</div> -->
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Learn More</button>
          </h3>
        </div>
      </div>
      <div class="scroll-down-container">
        <div class="text-align-center">
          <div class="kohan-section-more-link text-align-center" (click)="scrollToPageSection('build-community')">More</div>
          <div class="scroll-down-animation text-align-center" (click)="scrollToPageSection('build-community')">
            <fa name="chevron-down" class="scroll-down-animation"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row services-spacing-section" id="build-community">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Build a Community</div>
          </h3>
          <p class="text-align-center services-paragraph">
            From creative posts and crisp videos to engaging polls and interactive digital experiences, we don't just help you connect
            with your patients - we help you build a lasting community.
          </p>
          <h3 class="learn-more-title text-align-center">
            <!-- <div class="contact-link text-align-center" (click)="openContactUsModal()">Get In Touch</div> -->
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Get In Touch</button>
          </h3>
        </div>
      </div>
      <div class="scroll-down-container">
        <div class="text-align-center">
          <div class="kohan-section-more-link text-align-center" (click)="scrollToPageSection('brand-ambassadors')">More</div>
          <div class="scroll-down-animation text-align-center" (click)="scrollToPageSection('brand-ambassadors')">
            <fa name="chevron-down" class="scroll-down-animation"></fa>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-first order-md-2">
      <img src="../assets/img/Female_Holding_Twitter.png" class="img-fluid services-image-margins">
    </div>
  </div>
  <div class="row services-spacing-section" id="brand-ambassadors">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-align-center">
      <img src="../assets/img/All_Smiles_Dental@0.5x.png" class="img-fluid services-image-margins">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Your Brand Ambassadors</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Drawing on the pervasiveness of crowd-sourcing and the "review economy," we employ unique tactics that work towards transforming
            your patients into your brand ambassadors.
          </p>
          <h3 class="learn-more-title text-align-center">
            <!-- <div class="contact-link text-align-center" (click)="openContactUsModal()">Contact Us</div> -->
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Contact Us</button>
          </h3>
        </div>
      </div>
      <div class="scroll-down-container">
        <div class="text-align-center">
          <div class="scroll-down-animation text-align-center" (click)="scrollToPageSection('header-unit')">
            <fa name="chevron-up" class="scroll-down-animation"></fa>
          </div>
          <div class="kohan-section-more-link text-align-center" (click)="scrollToPageSection('header-unit')">Back To Top</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom tagline -->
  <!-- <div class="row services-spacing-section" id="contactUsForm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
      <h2 class="kohan-secondary-statement">
        Build your community and realize your ultimate vision with Kohan Creative.
      </h2>
      <div class="button-spacing">
        <button type="button" class="sign-up-button" (click)="openWorkWithUsModal()">Get Started Now</button>
      </div>
    </div>
  </div> -->

</div>

<!-- Fixed site navigation -->
<div class="site-side-nav">
  <ul>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'header-unit' ? 600 : 400" (click)="scrollToPageSection('header-unit')">
      <!-- <fa name="angle-double-up" (click)="scrollToPageSection('header-unit')"></fa> -->
      <div (click)="scrollToPageSection('header-unit')">TOP</div>
    </li>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'create-cultivate' ? 600 : 400" (click)="scrollToPageSection('create-cultivate')">
      <!-- <fa name="expand" (click)="scrollToPageSection('create-cultivate')"></fa> -->
      <div (click)="scrollToPageSection('create-cultivate')">CULTIVATE</div>
    </li>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'build-community' ? 600 : 400" (click)="scrollToPageSection('build-community')">
      <!-- <fa name="building" (click)="scrollToPageSection('build-community')"></fa> -->
      <div (click)="scrollToPageSection('build-community')">COMMUNITY</div>
    </li>
    <li class="site-side-nav-item" [style.font-weight]="pageSection == 'brand-ambassadors' ? 600 : 400" (click)="scrollToPageSection('brand-ambassadors')">
      <!-- <fa name="users" (click)="scrollToPageSection('brand-ambassadors')"></fa> -->
      <div (click)="scrollToPageSection('brand-ambassadors')">AMBASSADORS</div>
    </li>
  </ul>
</div>