<div class="header-unit">
  <div class="color-overlay"></div>
  <div id="video-container">
    <video autoplay loop muted playsinline class="fillWidth">
      <source src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/Ipad%20-%202988.mp4?alt=media&token=b33a1352-94b1-4346-98b0-7a23eef19e74"
        type="video/mp4" />
    </video>
  </div>
  <!-- end video-container -->

  <div class="desc-wrapper-container">
    <div class="desc-wrapper">
      <h1 class="kohan-header-tagline">Social Media Marketing</h1>
      <p class="desc-smaller-text">Drive Value Through Engagement</p>
      <div class="kohan-header-button" (click)="ngxSmartModalService.getModal('myModal').open()">Work With Us</div>

      <!-- Work With Us Modal -->
      <ngx-smart-modal #myModal identifier="myModal">
        <h4>Work with Kohan Creative</h4>
        <form style="text-align: left;" [formGroup]="newContactForm" (ngSubmit)="saveContactInformation()">
          <div class="form-group">
            <label for="exampleInputEmail1" class="lighter-font-weight">Email address</label>
            <input type="email" class="form-control lighter-font-weight" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
              formControlName="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="lighter-font-weight">Name of Practice</label>
            <input type="text" class="form-control lighter-font-weight" id="exampleInputPassword1" placeholder="Dental or Medical Practice Name"
              formControlName="practiceName">
          </div>
          <button type="submit" class="work-with-us-modal-button">Submit</button>
        </form>
      </ngx-smart-modal>


    </div>
  </div>
</div>
<!-- end .header-unit -->

<div class="container">
  <div class="row spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="kohan-secondary-statement">
        We help you enhance your carefully constructed patient relationships in a way that extends beyond your office walls.
      </h2>
    </div>
  </div>
  <div class="row services-spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img src="../assets/img/composition-3326183_1280_Darker.jpeg" class="img-fluid services-image-margins">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Create & Cultivate</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Whether you're starting completely from scratch or are looking for an added boost, we create and maintain your most vital
            social media acounts, allowing you to focus on what you do best.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row services-spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Build a Community</div>
          </h3>
          <p class="text-align-center services-paragraph">
            From creative posts and crisp videos to engaging polls and interactive digital experiences, we don't just help you connect
            with your patients - we help you build a lasting community.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-first order-md-2">
      <img src="../assets/img/composition-3326183_1280_Darker.jpeg" class="img-fluid services-image-margins">
    </div>
  </div>
  <div class="row services-spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img src="../assets/img/composition-3326183_1280_Darker.jpeg" class="img-fluid services-image-margins">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Your Brand Ambassadors</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Drawing on the pervasiveness of crowd-sourcing and the "review economy," we employ unique tactics that work towards transforming
            your patients into your brand ambassadors.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>