<div id="header-unit"></div>
<kohan-navbar></kohan-navbar>

<div class="header-unit">
  <!-- <div class="color-overlay"></div> -->
  <div id="video-container">
    <video autoplay loop muted playsinline class="fillWidth">
      <source src="https://firebasestorage.googleapis.com/v0/b/kohan-creative.appspot.com/o/Islands%20-%202119.mp4?alt=media&token=7125fd63-0495-47f6-81b1-3912a80fab3c"
        type="video/mp4" />
    </video>
  </div>
  <!-- end video-container -->

  <div class="desc-wrapper-container">

    <!-- Work With Us Modal -->
    <ngx-smart-modal #myModal identifier="myModal">
      <kohan-work-with-us></kohan-work-with-us>
    </ngx-smart-modal>

    <!-- Contact Us Modal -->
    <ngx-smart-modal #contactUsModal identifier="contactUsModal">
      <kohan-contact-us></kohan-contact-us>
    </ngx-smart-modal>

    <div class="desc-wrapper">
      <h1 class="kohan-header-tagline">Web Design & Development</h1>
      <p class="desc-smaller-text">Where Our Passions and Expertise Meet</p>
      <!-- <a class="kohan-header-button" routerLink="/home">Work With Us</a> -->
      <div class="kohan-header-button" (click)="openWorkWithUsModal()">Get Started Now</div>
    </div>
    <div class="scroll-down-container container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
          <div class="kohan-header-more-link" (click)="scrollToPageSection('holistic-design')">More</div>
          <div class="scroll-down-animation" (click)="scrollToPageSection('holistic-design')">
            <fa name="chevron-down" class="scroll-down-animation" style="color: #FFFFFF;"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end .header-unit -->

<div class="container">
  <!-- <div class="row spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="kohan-secondary-statement">
        At Kohan Creative, we design beautiful, luxurious websites with high-performance technologies and advanced capabilities to
        modernize your dental and medical practice.
      </h2>
    </div>
  </div> -->
  <div class="row services-spacing-section" id="holistic-design">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <img src="../assets/img/brigher_dental_in_laptop.png" class="img-fluid services-image-margins">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Holistic Design & Development</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Similar to how you provide your patients with thorough, holistic dental care in a luxurious, comfortable environment, we
            design and develop your website with the same intent - embedding your digital property and presence with the
            same harmonious feel as your physical one.
          </p>
          <h3 class="learn-more-title text-align-center">
            <!-- <div class="contact-link text-align-center" (click)="openContactUsModal()">Learn More</div> -->
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Learn More</button>
          </h3>
        </div>
      </div>
      <div class="scroll-down-container">
        <div class="text-align-center">
          <div class="kohan-section-more-link text-align-center" (click)="scrollToPageSection('optimization')">More</div>
          <div class="scroll-down-animation text-align-center" (click)="scrollToPageSection('optimization')">
            <fa name="chevron-down" class="scroll-down-animation"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row services-spacing-section" id="optimization">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Built for Maximum Optimization</div>
          </h3>
          <p class="text-align-center services-paragraph">
            We employ cutting-edge web development practices and frameworks, optimized for search engines and across all mobile devices,
            to ensure the highest perceived performance and speed with an enhanced user experience to match.
          </p>
          <h3 class="learn-more-title text-align-center">
            <!-- <div class="contact-link text-align-center" (click)="openContactUsModal()">Get In Touch</div> -->
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Get In Touch</button>
          </h3>
        </div>
      </div>
      <div class="scroll-down-container">
        <div class="text-align-center">
          <div class="kohan-section-more-link text-align-center" (click)="scrollToPageSection('digital-office')">More</div>
          <div class="scroll-down-animation text-align-center" (click)="scrollToPageSection('digital-office')">
            <fa name="chevron-down" class="scroll-down-animation"></fa>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 order-first order-md-2">
      <div class="service-offering-container">
        <img src="../assets/img/Endodontic_Desktop.png" class="img-fluid services-image-margins">
      </div>
    </div>
  </div>
  <div class="row services-spacing-section" id="digital-office">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <img src="../assets/img/iphone_example.png" class="img-fluid services-image-margins">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <div class="link-to-services text-align-center">Your Digital Dental Office</div>
          </h3>
          <p class="text-align-center services-paragraph">
            Your website is the digital extension of your physical dental office. Therefore, we build your site with a focus on purpose,
            employing proprietary and third-party technologies that allow you to connect with your patients, process payments,
            schedule appointments, and more.
          </p>
          <h3 class="learn-more-title text-align-center">
            <!-- <div class="contact-link text-align-center" (click)="openContactUsModal()">Contact Us</div> -->
            <button type="button" class="sign-up-button" (click)="openContactUsModal()">Contact Us</button>
          </h3>
        </div>
      </div>
      <div class="scroll-down-container">
        <div class="text-align-center">
          <div class="scroll-down-animation text-align-center" (click)="scrollToPageSection('header-unit')">
            <fa name="chevron-up" class="scroll-down-animation"></fa>
          </div>
          <div class="kohan-section-more-link text-align-center" (click)="scrollToPageSection('header-unit')">Back To Top</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom tagline -->
  <!-- <div class="row services-spacing-section" id="contactUsForm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
      <h2 class="kohan-secondary-statement">
        Build a beautiful, high-performing website with Kohan Creative today.
      </h2>
      <div class="button-spacing">
        <button type="button" class="sign-up-button" (click)="openWorkWithUsModal()">Work With Us</button>
      </div>
    </div>
  </div> -->

</div>