<div class="header-unit">
  <div class="color-overlay"></div>
  <div id="video-container">
    <video autoplay loop class="fillWidth">
      <source src="https://firebasestorage.googleapis.com/v0/b/wav-studios.appspot.com/o/563397345.mp4?alt=media&token=5c400ba8-c1e2-4864-904e-e5b1d5e15765"
        type="video/mp4" />
    </video>
  </div>
  <!-- end video-container -->

  <div class="desc-wrapper-container">
    <div class="desc-wrapper">
      <h1 class="kohan-header-tagline">Web Design & Development</h1>
      <p class="desc-smaller-text">Where Our Passions and Expertise Meet</p>
      <p>
        <a class="kohan-header-button" routerLink="/home">Work With Us</a>
      </p>
    </div>
  </div>
</div>
<!-- end .header-unit -->

<div class="container">
  <div class="row spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="kohan-secondary-statement">
        Kohan Creative employs the world's best designers, developers, and creators to imbue your private dental and medical practices
        with digital luxury.
      </h2>
    </div>
  </div>
  <div class="row services-spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <img src="../assets/img/composition-3326183_1280_Darker.jpeg" class="img-fluid services-image-margins">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <a routerLink="/home" class="link-to-services text-align-center">Website Design & Development</a>
          </h3>
          <p class="text-align-center services-paragraph">
            We design and develop custom websites that mirror the aesthetic and warmth of your medical practice, evoking a consistent
            emotion across your physical and digital properties.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <img src="../assets/img/paper-3146953_1280_darker.jpeg" class="img-fluid services-image-margins">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <a routerLink="/home" class="link-to-services text-align-center">Graphic Design & Branding</a>
          </h3>
          <p class="text-align-center services-paragraph">
            Whether you're starting your own practice or looking to modernize your current one, we specialize in creating custom logos
            and brand assets that build on your story and set you apart.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <img src="../assets/img/paper-3318159_1280_darker.jpeg" class="img-fluid services-image-margins">
      <div class="service-offering-container">
        <div class="service-offerings-content">
          <h3 class="service-offerings-title text-align-center">
            <a routerLink="/home" class="link-to-services text-align-center">Social Media Marketing</a>
          </h3>
          <p class="text-align-center services-paragraph">
            Extend your brand presence outside the office, at all hours of the day. We engage your patients and anticipate their needs
            by managing your social accounts with thoughtfulness, attention, and compassion.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>