.work-with-us-modal-button {
  color: #000000;
  border: 2px solid #000000;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
}

.work-with-us-modal-button:hover {
  background-color: #000000;
  color: #EFEFEF;
  cursor: pointer;
}

.lighter-font-weight {
  font-weight: 300;
}