<div id="header-unit"></div>
<kohan-navbar></kohan-navbar>

<div class="header-unit">
  <!-- <div class="color-overlay"></div> -->
  <div id="video-container">
    <video autoplay loop muted playsinline class="fillWidth">
      <source src="https://firebasestorage.googleapis.com/v0/b/kohan-creative.appspot.com/o/Cliff%20-%201890.mp4?alt=media&token=b288f83d-5c4c-4ab3-a0e0-963291b675f5"
        type="video/mp4" />
    </video>
  </div>
  <!-- end video-container -->

  <div class="desc-wrapper-container">
    <!-- Work With Us Modal -->
    <ngx-smart-modal #myModal identifier="myModal">
      <kohan-work-with-us></kohan-work-with-us>
    </ngx-smart-modal>

    <!-- Contact Us Modal -->
    <ngx-smart-modal #contactUsModal identifier="contactUsModal">
      <kohan-contact-us></kohan-contact-us>
    </ngx-smart-modal>


    <div class="desc-wrapper">
      <p class="desc-smaller-text">Kohan Creative</p>
      <h1 class="kohan-header-tagline">Design & Creative Packages</h1>
      <div class="kohan-header-button" (click)="openWorkWithUsModal()">Get Started Now</div>
    </div>

    <!-- Scroll Down Container -->
    <div class="scroll-down-container container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-align-center">
          <div class="kohan-header-more-link" (click)="scrollToPageSection('packages')">More</div>
          <div class="scroll-down-animation" (click)="scrollToPageSection('packages')">
            <fa name="chevron-down" class="scroll-down-animation" style="color: #FFFFFF;"></fa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end .header-unit -->



<div class="container">

  <!-- Kohan Secondary Tagline -->
  <!-- <div class="row spacing-section">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="kohan-secondary-statement">
        At Kohan Creative, we believe in optionality.
      </h2>
      <h2 class="kohan-secondary-statement">
        Choose the package that's right for your dental or medical practice.
      </h2>
    </div>
  </div> -->

  <!-- Kohan Pricing Packages -->
  <div class="row services-spacing-section" id="packages">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-align-center">
      <div class="card mb-4 box-shadow hover-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal service-offerings-title red-package">Red</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$600
            <small class="text-muted">/ mo</small>
          </h1> -->
          <!-- <h4 class="pricing-subsection-title">Web Design & Dev</h4> -->
          <ul class="list-unstyled mt-3 mb-4 text-align-left">
            <li class="package-features-paragraph">Standard monthly web hosting</li>
            <li class="package-features-paragraph">Mobile optimized site</li>
            <li class="package-features-paragraph">Pre-designed template</li>
            <li class="package-features-paragraph">Updated logo with full rights</li>
            <li class="package-features-paragraph">Setup of one social media account and one post per month</li>
          </ul>
          <button type="button" class="sign-up-button" (click)="openContactUsModal()">Contact Us</button>
          <div class="package-features-muted">* Additional $200 flat fee for any site changes</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-align-center">
      <div class="card mb-4 box-shadow hover-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal service-offerings-title">Black</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$1000
            <small class="text-muted">/ mo</small>
          </h1> -->
          <!-- <h4 class="pricing-subsection-title">Web Design & Dev</h4> -->
          <ul class="list-unstyled mt-3 mb-4 text-align-left">
            <li class="package-features-paragraph">Standard monthly web hosting</li>
            <li class="package-features-paragraph">Mobile optimized site</li>
            <li class="package-features-paragraph">Complete custom website design and development</li>
            <li class="package-features-paragraph">Regular monthly maintenance and hosting</li>
            <li class="package-features-paragraph">Premium services and integrations</li>
            <li class="package-features-paragraph">Custom logo and suite of brand assets</li>
            <li class="package-features-paragraph">Setup of four social media accounts</li>
            <li class="package-features-paragraph">One post per week across four social media accounts</li>
          </ul>
          <button type="button" class="sign-up-button" (click)="openContactUsModal()">Contact Us</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-align-center">
      <div class="card mb-4 box-shadow hover-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal service-offerings-title gold-package">Gold</h4>
        </div>
        <div class="card-body">
          <!-- <h1 class="card-title pricing-card-title">$800
            <small class="text-muted">/ mo</small>
          </h1> -->
          <!-- <h4 class="pricing-subsection-title">Web Design & Dev</h4> -->
          <ul class="list-unstyled mt-3 mb-4 text-align-left">
            <li class="package-features-paragraph">Standard monthly web hosting</li>
            <li class="package-features-paragraph">Mobile optimized site</li>
            <li class="package-features-paragraph">Pre-designed template w/ 2 custom options</li>
            <li class="package-features-paragraph">One site edit per month</li>
            <li class="package-features-paragraph">Newly designed logo and business cards</li>
            <li class="package-features-paragraph">Setup of two social media accounts and two posts per month per account</li>
          </ul>
          <button type="button" class="sign-up-button" (click)="openContactUsModal()">Contact Us</button>
        </div>
      </div>
    </div>
  </div>

  <!-- What Each Package Includes -->
  <!-- <div class="row services-spacing-section" id="contactUsForm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2 class="kohan-secondary-statement">
        Ready to get started? Get in touch with us today!
      </h2>
    </div>
  </div> -->

</div>