/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://use.typekit.net/pkn6hzc.css");

body {
  font-family: futura-pt, sans-serif;
  background-color: transparent;
}

body.dialog-open ngx-smart-modal {
  top: 20% !important;
}